.radio-row {
    /* display: block; */
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .radio-row:last-child {
    margin: 0;
  }
  
  .real-radio {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none; /* это новое св-во, не работает в старых браузерах, оно говрит эл-ту, как отображаться на странице. none-скроет его */
  }
  
  .real-radio:focus + .custom-radio {
    /* эффект фокуса на выбранной кнопке */
    box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
  }
  
  .custom-radio {
    /* Если шрина и высота одинаковы, border-radius: 50%; сделает из этого эл-та правильный круг  */
    flex-shrink: 0;
    position: relative;
    display: inline-block; /* т.к. span-inline эл-т  */
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    height: 20px;
  
    background: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
  }
  
  .custom-radio::before {
    display: none; /* пока кнопка не выбрана,  кастомный блок не применяется  */
    position: absolute;
    content: "";
  
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border-radius: 50%;
    background: #2ab698;
  }
  
  .real-radio:checked + .custom-radio::before {
    /* когда выбрана радио-кнопка, то применяется кастомная кнопка  */
    display: block;
  }