.checkbox-row {
    /* display: block; */
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .checkbox-row:last-child {
    margin: 0;
  }
  
  .real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0; 
    z-index: -1; 
    appearance: none; 
  }
  
  .custom-checkbox {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    width: 20px;
    height: 20px;
  
    background: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
  }
  
  .custom-checkbox::before {
    display: block;
    position: absolute;
    content: "";
  
    width: 17px;
    height: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition: transform 0.2s ease-in; 
    /* scale(0)-масштабирование  */
  
    background-image: url("../img/icon/check\ mark.svg");
  }
  
  .real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .real-checkbox:focus + .custom-checkbox {
    /* эффект фокуса на выбранной кнопке */
    box-shadow: 0 0 10px rgba(42, 182, 152, 0.5);
  }