.header {
    position: relative; 
    width: 100%;
    height: 800px;
    padding-top: 50px;
    background-color: #265847;
    background-image: url("./../img/header/background.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffff;
  }
  
  .header-inner {
    /* Шапка второй страницы  */
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url("./../img/header/header-tours.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffff;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
  }
  
  .header-nav {
    font-size: 22px;
    color: #ffffff;
  }
  
  .header-nav-button {
    display: none;
  }
  
  .header-nav-list {
    display: flex;
  }
  
  .header-nav-list-item {
    margin-right: 50px;
  }
  
  .header-nav-list-item:last-child {
    margin: 0;
  }
  
  /* .header-nav-list-item:not(:last-child){
      margin-right: 50px;
  } */
  
  .header-nav-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Header-Content */
  
  .header-content {
    position: absolute; /* Родитель header*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    width: 1170px;
  }
  
  .header-title {
    margin-bottom: 20px;
    margin-top: 16px;
    font-weight: bold;
    font-size: 60px;
    line-height: 1;
    color: #ffffff;
  }
  
  .header-content p {
    font-size: 24px;
    color: #ffffff;
  }
  
  /* Scroll */
  
  .header-scroll {
    position: absolute; /* Родитель header*/ /* Так же он явл. родителем для дочерних  эл-ов, которые мы позиционируем абсолютно */
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  
    display: inline-block;
    padding-bottom: 38px;
    height: auto;
  
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
  
  .header-scroll::after {
    position: absolute; /* Родитель header-scroll*/
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  
    content: "";
    display: block;
    width: 18px;
    height: 24px;
    background-image: url("../img/header/arrow-down.svg");
  }