@media (max-width: 899px) {
    .container{
        width: 600px;
    }

    .header-top{
        width: 100%;
    }

   .header-content {
        width: 100%;
    }

    .header-title{
        font-size: 42px;
    }

    .header-content p{
        font-size: 20px;
    }

    /* Main */

    .main{
        padding-top: 60px;
        padding-bottom: 60px;    
    }

    .main .container{
        width: 100%;
    }

    .main-row{
        flex-direction: row-reverse;
        margin-bottom: 60px;
    }

    .main-header{
        font-size: 42px;      
    }

    .main-content-text{
        font-size: 16px;
    }

    .button{
        height: 46px;
        line-height: 46px;
        font-size: 18px; 
        padding-left: 30px;
        padding-right: 30px;
    }

    .main-img {
        flex-shrink: 0;
        width: 170px;
        margin-right: 30px;
    }

    .main-content {
        width: auto;
    }

    .main-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;/* Если размеры картинки не пропорциональны, это св-во позволяет масштабировать картинку корректно ( т.е. пропорционально) */
    }

    /* Footer */

    .footer{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer-row{
        flex-wrap: wrap;
    }

    .footer-copyright{
        order: 1; /* Меняем порядок для флекс айтемов */
        width: auto;
    }

    .footer-widget-wrapper{
        width: 100%;
    }

    .footer-widget-wrapper > *{
        /* width: 270px; */
        width: calc(50% - 15px); /* из ширины блока вычитаем центральный отступ от каждого блока */
        margin-bottom: 50px;
    }
}