@media (max-width: 599px) {
    .container{
        width: 320px;
    }

    .header-top{
        width: 100%;
    }

    .header-content {
        width: 100%;
    }

    .logo{
        font-size: 30px;
    }

    .header-title{
        font-size: 32px;
        margin-bottom: 10px;
    }

    .header-content p{
        font-size: 18px;
    }

    /* Main */

    .main{
        padding-top: 40px;
        padding-bottom: 40px;    
    }

    .main-header{
        font-size: 34px;      
    }

    .main-row{
        flex-direction: column-reverse;
        margin-bottom: 40px;
    }

    .main-row:nth-child(even){
        flex-direction: column-reverse; /* Переопределяем, т.к. он тянется с десктопной версии*/
    }

    .main-img {
        width: auto;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    /* Footer */

    .footer{
        text-align: center;
    }
    
    .footer-widget-services{
        display: block;
    }

    .footer-row{
        flex-direction: column;
    }

    .footer-widget-wrapper{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .footer-widget{
        margin-bottom: 40px;
    }

    .footer-widget + .footer-widget{
        margin-left: 0;
    } /* Переопределяем, т.к. он тянется с десктопной версии*/

    .footer-widget-wrapper > *{
        width: 100%;
    }

    .footer-widget-title{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer-widget-list{
        font-size: 16px;
    }

    .footer-widget-list li{
        margin-bottom: 10px;
    }
}