
@media (max-width: 1199px) {
    .container{
        width: 900px;
    }

    .header{
        height: 591px;
    }

    .header-top{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header-content {
        width: 900px;padding-left: 15px;
        padding-right: 15px;
    }

    .header-nav-button{
        display: block;
        background: transparent;
        border: none;
        padding: 0;
    }

    .header-nav-list{
        display: none;
    }

    .header-title{
        font-size: 52px;
    }

    .header-scroll{
        font-size: 0;
    }

    /* Main */

    .main{
        padding-top: 80px;
        padding-bottom: 80px;    
    }

    .main-content {
        width: 420px;
    }

    .main-row{
        margin-bottom: 80px;
    }

    .main-header{
      font-size: 50px;      
    }

    .main-content-text{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .main-img {
        width: 420px;
    }

    /* Footer */

    .footer{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-logo{
        margin-bottom: 20px;
    }

    .footer-logo .logo{
        font-size: 30px;
    }

    .footer-copyright p{
        font-size: 14px;
    }

    .footer-widget-services{
        display: none;
    }

    .footer-widget-title{
        margin-bottom: 20px;
    }
}